@page
@model WorldEventListModel
@{
    ViewData["Title"] = "Add Event";
}

<h1>Add World Event</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="EventImage" />
    <input type="text" asp-for="WorldEvent.EventName" placeholder="Name" />
    <input type="text" asp-for="WorldEvent.EventDescription" placeholder="Description" />
    <input type="text" asp-for="WorldEvent.EventDate" placeholder="Date" />

    <button type="submit">Submit</button>
</form>

<div class="container">

    <h1 class="p-3 text-center">Events</h1>

    <div class="row">
        @foreach (var item in Model.WorldEventList)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a asp-page="WorldEventDetail" asp-route-id="@item.Id">
                        @if (item.EventImage != null)
                        {
                            <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(item.EventImage)" alt="">
                        }
                        else
                        {
                            <img class="card-img-top" src="~/images/NoImageAvailable.png" />
                        }
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="color-main" href="/WorldEventDetail/@item.Id">@item.EventName</a>
                        </h4>
                        <p class="card-text">@item.EventDescription</p>
                        <p class="card-text">@item.EventDate</p>
                    </div>
                    <div class="card-footer">
                        <a asp-page="WorldEventDetail" asp-route-id="@item.Id" class="btn btn-success w-100">Event Details</a>
                    </div>
                </div>
            </div>
        }
    </div>


</div>