@using RPGInfo.Web.Models
@model RPGInfo.Web.Pages.CharacterDetailModel

<h4>Character Notes</h4>

<ul>
    @foreach(var note in @Model.Character.CharacterNotes)
    {
        <li>@note.NoteTitle | @note.NoteAuthor | @note.NoteContent | @note.NoteType | @note.NoteDate.ToShortDateString()</li>
    }
</ul>

<form asp-page-handler="AddNote" >
  <div class="form-group">
    <label for="NoteTitle">Note Title</label>
    <input  type="text" name="NoteTitle" class="form-control" placeholder="Note Title">
  </div>
  <div class="form-group">
    <label for="NoteContent">Note Content</label>
    <input  type="text" name="NoteContent" class="form-control" placeholder="Write Content here..">
  </div>
  
  <button type="submit" class="btn btn-primary">Add Note</button>
</form>
