@page
@model Characters
@{
    ViewData["Title"] = "Add Character";
}

<h1>Add Character</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Portrait" />

    <input type="text" asp-for="Character.Name" placeholder="Name" />
    <input type="text" asp-for="Character.Race" placeholder="Race" />
    <input type="text" asp-for="Character.Class" placeholder="Class" />
    <input type="text" asp-for="Character.CurrentLocation" placeholder="Current Location" />

    <input type="text" asp-for="Character.Campaign" placeholder="Campaign Name" />
    <input type="text" asp-for="Character.Setting" placeholder="Game World" />
    <input type="text" asp-for="Character.CharacterNotes" placeholder="Character Notes" />

    <button type="submit">Submit</button>
</form>

<div class="container">
 
    <h1 class="p-3 text-center">Characters</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Race</th>
                <th>Class</th>
                <th>Location</th>
                <th>Character Details</th>
                <th>Remove</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.CharacterList)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.Race</td>
                <td>@item.Class</td>
                <td>@item.CurrentLocation</td>
                <td>
                        <a href="/CharacterDetail/@item.Id" class="btn btn-primary">Detail Page</a>
                </td>
                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>


</div>