@page "{id}"
@model RPGInfo.Web.Pages.CharacterDetail
@{
    ViewData["Title"] = "Character Detail";
}

<img height="300" width="300" class="rounded-sm" src="data:image;base64,@System.Convert.ToBase64String(Model.Character.Portrait)" />
<h1>@Model.Character.Name</h1>
<p>@Model.Character.Race</p>
<p>@Model.Character.Class</p>
<p>@Model.Character.CurrentLocation</p>
<p>@Model.Character.Setting</p>
<p>@Model.Character.Campaign</p>

<!--Add Styling to Form-->
<p>@Model.Character.CharacterNotes </p>

<p>@Model.Character.KnownCharacters</p>

<!--Edit button-->
