@page "{id}"
@model RPGInfo.Web.Pages.CharacterDetail
@{
    ViewData["Title"] = "Character Detail";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<div class="container">
    <div class="team-single">
        <div class="row">
            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                @if (Model.Character.Portrait != null)
                {
                    <div class="team-single-img">
                        <img height="300" width="300" class="rounded-sm" src="data:image;base64,@System.Convert.ToBase64String(Model.Character.Portrait)" alt="">
                    </div>
                }
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h4 class="font-size38 sm-font-size32 xs-font-size30">@Model.Character.Name</h4>
                    <div class="contact-info-section margin-40px-tb">
                        <ul class="list-style9 no-margin">
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="text-orange"></i>
                                        <strong class="margin-10px-left text-orange">Race: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.Race</p>
                                    </div>
                                </div>

                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Class: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.Class</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Setting: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.Setting</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Current Campaign: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.Campaign</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="fas fa-map-marker-alt text-green"></i>
                                        <strong class="margin-10px-left text-green">Current Location: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.CurrentLocation</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="sm-no-margin">
                        <h4> Other Characters</h4>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-for="SelectedKnownCharacters" asp-items="Model.KnownCharacterOptions">
                        </select>
                        <div>
                            <a href="" class="btn btn-primary">Add Known Character</a> <a asp-page-handler="AddNote" asp-route-id="@Model.Character.Id" class="btn btn-primary">Add Note</a>
                        </div>
                    </div>
                    <div>
                        <a asp-page-handler="" asp-route-id="@Model.Character.Id" class="btn btn-danger">Delete @Model.Character.Name</a>
                    </div>

                </div>
            </div>

            <div>
                <h1>Important Notes</h1>
                <h4>Date (e.g. 24 DR)</h4>
                <h4>Subject (e.g. Mass of Selune)</h4>
                <h4>Details (e.g. Successful Mass of Selune allows improved perception until next long rest)</h4>
                @foreach (var note in Model.Character.CharacterNotes)
                {
                    <h4>@note.NoteContent</h4>
                }
            </div>

            <div>
                <h1>Other Known Characters</h1>
                <h4>List Known Characters Name, Race, Class, Location... Button goes to detail page for that character</h4>
            </div>

        </div>
    </div>
</div>