@page "{id}"
@model RPGInfo.Web.Pages.CharacterDetailModel
@{
    ViewData["Title"] = "Character Detail";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<div class="container">
    <div class="team-single">
        <div class="row">
            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                @if (Model.Character.Portrait != null)
                {
                    <div class="team-single-img">
                        <img height="300" width="300" class="rounded-sm" src="data:image;base64,@System.Convert.ToBase64String(Model.Character.Portrait)" alt="">
                    </div>
                }

            </div>

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h4 class="font-size38 sm-font-size32 xs-font-size30">@Model.Character.Name</h4>
                    <div class="contact-info-section margin-40px-tb">
                        <ul class="list-style9 no-margin">
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="text-orange"></i>
                                        <strong class="margin-10px-left text-orange">Race: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.Race</p>
                                    </div>
                                </div>

                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <i class="text-yellow"></i>
                                        <strong class="margin-10px-left text-yellow">Class: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p>@Model.Character.Class</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div>
                       <partial name="_CharacterNotePartial" model="@Model.CharacterNoteStrings" />
                    </div>

                    <div>
                        <partial name="_CharacterRelationshipPartial" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <form method="post">
        <button type="submit" class="btn btn-info">Save Changes</button>
    </form>
</div>





