@page "{id}"
@model RPGInfo.Web.Pages.CharacterDetailModel
@{
    ViewData["heightththte"] = "Character Detail";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<div class="container">
    <div class="team-single">
        <div class="row">
            <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                @if (Model.Character.Portrait != null)
                {
                    <div class="team-single-img">
                        <img height="300" width="300" class="rounded-sm" src="data:image;base64,@System.Convert.ToBase64String(Model.Character.Portrait)" alt="">
                    </div>
                }
                else
                {
                    <img class="card-img-top" src="~/images/NoImageAvailable.png" />
                }
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="team-single-text padding-50px-left sm-no-padding-left">
                    <h3 class="font-size38 sm-font-size32 xs-font-size30">@Model.Character.Name</h3>
                    <div class="contact-info-section margin-40px-tb">
                        <ul class="list-group no-margin">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <strong class="margin-10px-left">Race: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <h4>@Model.Character.Race</h4>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <strong class="margin-10px-left">Class: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <h4>@Model.Character.Class</h4>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <strong class="margin-10px-left">Description: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <h4>@Model.Character.Description</h4>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5 col-5">
                                        <strong class="margin-10px-left">Backstory: </strong>
                                    </div>
                                    <div class="col-md-7 col-7">
                                        <p class="backstoryStyle">@Model.Character.Backstory</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="mt-4 mb-4 row">
                            <div class="col-6">
                                <form method="post">
                                    <button type="submit" class="btn btn-success">Edit @Model.Character.Name</button>
                                </form>
                            </div>
                            <div class="col-6">
                                <button type="button" id="addNote" class="btn btn-info" onclick="showDetails()">Notes And Npcs</button>
                            </div>
                        </div>
                        <div style="visibility:hidden;max-height:0" id="showDetails" class="row">
                            <div class="col-6">
                                <partial name="_NewNotePartial" model="@Model.CharacterNoteStrings" />
                            </div>
                            <div class="col-6">
                                <partial name="_NewNpcPartial" model="@Model.Character.RelatedNpcs" />
                            </div>
                        </div>
                        <div id="tabbedPage" style="visibility:visible">
                            <partial name="_NotesDisplayPartial" model="@Model.Character.CharacterNotes" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .backstoryStyle {
        word-wrap: normal;
    }
</style>

<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script>
    function showDetails() {
       if ($('#showDetails').css('visibility') == 'hidden') {
         $('#showDetails').css('visibility', 'visible');
         $('#tabbedPage').css('visibility', 'hidden');
       }
       else{
        $('#showDetails').css('visibility', 'hidden');
         $('#tabbedPage').css('visibility', 'visible');
       }
    }

</script>





